<div class="container">

  <br>
  <h1>Add your photo and listing information</h1>

  <form novalidate ng-submit="listingsNew.submit()">

    <image-upload base64="listingsNew.listing.base64"></image-upload>

    <div>
      <br>
      <label><h3>Food Item Name</h3></label>
      <div class="row">
        <input class="u-full-width" type="text" placeholder="Item name" ng-model="listingsNew.listing.name">
      </div>
    </div>

    <div>
      <label><h3>Description (optional)</h3></label>
      <input class="u-full-width" type="text" placeholder="Description of the item..." ng-model="listingsNew.listing.description">
    </div>

    <div>
      <label><h3>Price Per Item (optional)</h3></label>
      <input type="number" step="0.1" placeholder="e.g. 5.95" ng-model="listingsNew.listing.price">
    </div>

    <button class="button green">Submit</button>

  </form>

</div>
