<h1>Add your photo and listing information</h1>

<form novalidate ng-submit="listingsNew.submit()">

  <image-upload base64="listingsNew.listing.base64"></image-upload>

  <div>
    <label>Food Item Name</label>
    <input type="text" placeholder="Item name" ng-model="listingsNew.listing.name">
  </div>

  <div>
    <label>Price Per Item (optional)</label>
    <input type="number" step="0.1" placeholder="e.g. 5.95" ng-model="listingsNew.listing.price">
  </div>

  <div>
    <label>Description (optional)</label>
    <input type="text" placeholder="Description of the item..." ng-model="listingsNew.listing.description">
  </div>

  <button>Submit</button>

</form>
