<div class="container">

  <div class="login-background">

    <form novalidate ng-submit="login.submit()">

      <div class="row">

        <div class="one column">
        </div>
        <div class="eleven columns">
          <input class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
        </div>
        <div class="one column">
        </div>

      </div>

      <div class="row">

        <div class="one column">
        </div>

        <div class="eleven columns">
          <input class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
        </div>

        <div class="one column">
        </div>

      </div>

        <br>
        <br>
        <br>
        <br>
        <br>


        <div>



          <button id="login-button" class="button green">Login</button>

        </form>

        <div class="login-text">
          <h4>Login in so that you can share great vegan food that you find on the go.</h4>
        </div>

      </div>

    </div>
