<h1>Places Show Page</h1>

<h4>{{ placesShow.place.name }}</h4>
<h4>{{ placesShow.place.address }}</h4>

<p>
  <strong>Listings for this place:</strong>
  <ul>
    <li ng-repeat="listing in placesShow.place.listings">
      <p>{{ listing.name }}</p>
      <img ng-src="{{ listing.image }}">
      <p>{{ listing.price }}</p>
      <p>{{ listing.description }}</p>
      <button ui-sref="listingsEdit( { id: listing.id } )">Edit</button>
      <button ng-click="listingDelete.delete()">Delete</button>
    </li>
  </ul>
</p>
