<h1>Add your photo and listing information</h1>

<image-upload></image-upload>

<form novalidate ng-submit="listingsNew.submit()">


  <div>
    <label>Food Item Name</label>
    <input type="text" placeholder="Item name" ng-model="listingsNew.listing.name">
  </div>

  <div>
    <label>Price Per Item (optional)</label>
    <input type="float" placeholder="e.g. 5.95" ng-model="listingNew.listing.price">
  </div>

  <div>
    <label>Description (optional)</label>
    <input type="text" placeholder="Description of the item..." ng-model="listingsNew.listing.description">
  </div>

  <div>
    <input type="hidden" ng-model="listingsNew.listing.image">
  </div>

  <button>Submit</button>

</form>
