<h1>Places Show Page</h1>

<h4>{{ placesShow.place.name }}</h4>
<h4>{{ placesShow.place.address }}</h4>
<p>{{ placesShow.place.phone_number}}</p>
<img ng-src="{{ placesShow.place.icon }}">
<p>Rating: {{ placesShow.place.rating}}</p>
<a href="{{ placesShow.place.website}}"><p>{{ placesShow.place.website}}</p></a>

<p>
  <strong>Listings for this place:</strong>
  <ul>
    <li ng-repeat="listing in placesShow.place.listings">
      <p>{{ listing.name }}</p>
      <img ng-src="{{ listing.image }}">
      <p>{{ listing.price }}</p>
      <p>{{ listing.description }}</p>
      <button ui-sref="listingsEdit( { id: listing.id } )">Edit</button>
    </li>
  </ul>
</p>

<google-map places="placesShow.place"><google-map>
