<h1>Places Show Page</h1>

<h4>{{ placesShow.place.name }}</h4>
<h4>{{ placesShow.place.address }}</h4>

<p>
  <strong>Listings for this place:</strong>
  <ul>
    <li ng-repeat="listing in placesShow.place.listings">
      <p>{{ listing.name }}</p>
      <p>{{ listing.price }}</p>
      <p>{{ listing.description }}</p>
      <img ng-src="{{ listing.image }}">
      <br>
      <button ng-click="listingsShow.edit(listing)">Edit</button>
      <button ng-click="listingShow.delete(listing)">Delete</button>
    </li>
  </ul>
</p>
