// SCSS Variables

// Colours Section
$google-map-grey: #eaeaea;
$image-active-colour: #cae6a2;
$black: #000;
$vegan-green: #5cb75c;
$vegan-blue: #6b90ff;

// Fonts section
$text-font: 'Roboto', sans-serif;
