// Imports

@import 'normalize';
@import 'skeleton';
@import 'variables';

// HTML Elements
body {
  background-color: $google-map-grey;
  font-family: $text-font;
  text-align: center;
}

li {
  list-style: none;
}

button {
  font-size: 1em;
}

// Classes
.image-upload {
  border: 5px dashed $black;
  border-radius: 5px;
  margin: auto;
  min-height: 300px;
  position: relative;
  width: 50vw;

  img {
    width: 100%;
  }

  &.active {
    background-color: $image-active-colour;
  }

  input[type=file] {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.google-map {
  height: 60vh;
  width: 100%;
}

.green {
  background-color: $vegan-green;
  color: $black;
}

.blue {
  background-color: $vegan-blue;
  color: $black;
}

.login-background {
  // http://assets.londonist.com/uploads/2015/08/vegan.jpg
  background-image: url('../assets/images/vegan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
 }

.login-text {
  background-color: $vegan-green;
  opacity: 0.6;
  border-radius: 5px;
  color: $black;
  font-family: $text-font;
  height: 200px;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
}

.box-around {
  border: 3px solid $vegan-green;
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px;
}

// IDs

#login-button {
  width: 50%;
}
